* {
    background-image: none;
    font-size: 14px;
}

window {
    background-color: transparent;
}

button {
    color: #ffffff;
    background-color: @main-bg;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @wb-act-bg;
    background-size: 20%;
}

button:hover {
    background-color: @wb-hvr-bg;
    background-size: 25%;
    border-radius: ${active_rad}px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 10px 10px 0px 10px;
    margin : 5px 0px 0px 5px;
}

button:hover#logout {
    border-radius: 10px 0px 10px 10px;
    margin : 0px 0px 5px 5px;
}

button:hover#shutdown {
    border-radius: 10px 10px 10px 0px;
    margin : 5px 5px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px 10px 10px 10px;
    margin : 0px 5px 5px 0px;
}

#lock {
    background-image: image(url("icons/lock_white.png"));
    border-radius: 10px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
}

#logout {
    background-image: image(url("icons/logout_white.png"));
    border-radius: 0px 0px 0px 10px;
    margin : 0px 0px 0px 0px;
}

#shutdown {
    background-image: image(url("icons/shutdown_white.png"));
    border-radius: 0px 10px 0px 0px;
    margin : 0px 0px 0px 0px;
}

#reboot {
    background-image: image(url("icons/reboot_white.png"));
    border-radius: 0px 0px 10px 0px;
    margin : 0px 0px 0px 0px;
}
